<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.houhe.api.loan.mapper.VerifyThirdResultExtMapper" >
    <!-- 实体类 - 数据库映射 2017-05-23 19:42:13. -->
    <resultMap id="BaseResultMap" type="cn.houhe.api.loan.entity.VerifyThirdResult" >
        <id column="vtr_id" property="vtrId" jdbcType="INTEGER" />
        <result column="credit_apply_id" property="creditApplyId" jdbcType="INTEGER" />
        <result column="baiqishi_result" property="baiqishiResult" jdbcType="VARCHAR" />
        <result column="tongdun_result" property="tongdunResult" jdbcType="VARCHAR" />
        <result column="bairong_result" property="bairongResult" jdbcType="VARCHAR" />
        <result column="createdon" property="createdon" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        vtr_id, credit_apply_id, baiqishi_result, tongdun_result, bairong_result, createdon
    </sql>
    <!-- 按申请id查询 2017-05-23 19:42:13. -->
    <select id="findByApplyId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from verify_third_result
        where credit_apply_id = #{credit_apply_id,jdbcType=INTEGER}
    </select>
    <!-- 插入 - 全字段保存 2017-05-23 19:42:13. -->
    <insert id="insert" parameterType="cn.houhe.api.loan.entity.VerifyThirdResult" >
        <selectKey resultType="java.lang.Integer" keyProperty="vtrId" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into verify_third_result (credit_apply_id, baiqishi_result, tongdun_result,
        bairong_result, createdon)
        values (#{creditApplyId,jdbcType=INTEGER}, #{baiqishiResult,jdbcType=VARCHAR}, #{tongdunResult,jdbcType=VARCHAR},
        #{bairongResult,jdbcType=VARCHAR}, #{createdon,jdbcType=TIMESTAMP})
    </insert>

</mapper>